.history {
  position: fixed;
  z-index: 50;
  top: 0; 
  left: 0;
  height: 100%;
  width: 100%;
  padding: 100px;
  background: linear-gradient(135deg, rgba(20,207,204,.8), rgba(56,101,173,.8), rgba(130,69,150,.8));
  transition: opacity .35s;
}
.history:not(.show) {
  opacity: 0;
  pointer-events: none;
}

.history-window {
  position: relative;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  background: rgba(0,0,30,.4);
  border: 4px solid rgba(0,0,30,.2);
  box-shadow: 0 0 16px rgba(0,0,0,0.12), 0 0 16px rgba(0,0,0,0.18);
  transition: transform .25s cubic-bezier(0.000, 1.040, 0.240, 1.240);
  display: flex;
  flex-direction: column;
}
.history:not(.show) .history-window {
  transform: scale(0);
}

.history svg {
  fill: white;
}
.history .search {
  z-index: 100;
  flex-shrink: 0;
  flex-grow: 0;
  background: rgba(0,0,30,.2);
  box-shadow: 0 0 16px rgba(0,0,0,0.12), 0 0 16px rgba(0,0,0,0.18);
}
.history .search svg {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 30px;
  width: 30px;
}
.history .search input {
  font-family: 'Rubik', sans-serif;
  background: transparent;
  color: white;
  border: none;
  outline: none;
  width: 100%;
  font-size: 30px;
  padding: 20px 30px;
  padding-left: 70px;
}
.history .search input::placeholder {
  color: hsla(220, 39%, 80%, .8);
}

.history .content {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  height: 100%;
  min-height: 0;
}

.history .transactions {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 20px;
}
.history .filters {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
}
.history .pill {
  font-size: 12px;
  border-radius: 7px;
  padding: 4px 8px;
  margin-right: 10px;
  text-transform: uppercase;
  color: rgb(0,0,30);
  display: flex;
  cursor: pointer;
  user-select: none;
  border: 2px solid transparent;
}
.history .pill:not(.active):not(:hover) {
  opacity: .7;
  box-shadow: none!important;
}
.history .pill.active {
  background: rgba(0,0,0,.2)
}
.history .row {
  margin-bottom: 10px;
  background: rgba(0 0 0 / .2);
  border-radius: 10px;
  padding-left: 10px;
  position: relative;
  line-height: 1em;
  cursor: default;
}
.history .row.clickable {
  cursor: pointer;
}
.history .row .row-content {
  padding: 10px 30px;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}
.history .row .banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.history .row .meta { 
  flex-shrink: 0;
  white-space: nowrap;
  padding-right: 30px;
}
.history .row .meta.text {
  text-transform: capitalize;
  font-size: 12px;
}
.history .row .meta:not(.text) {
  width: 100px;
}
.history .row .meta:last-child {
  padding-right: 30px;
  width: auto;
}
.history .row small {
  display: block;
  font-size: 11px;
  color: hsla(220, 39%, 80%, .8);
  margin-top: -1px;
}
.history .row p {
  margin: 0;
}
.history .mute {
  color: hsla(220, 39%, 80%, .8);
}
.history .footer {
  margin: 50px 0;
  text-align: center;
  color: hsla(220, 39%, 80%, .8);
  user-select: none;
}

.history .details {
  width: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  border-left: 3px solid rgba(0,0,30,.2);
  position: relative;
  display: flex;
  flex-direction: column;
}
.history .details-content {
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  padding: 20px;
  padding-bottom: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}
.history .details .divider {
  width: 100%;
  height: 2px;
  background: white;
  opacity: .1;
  margin: 20px 0;
}
.history .details .sym {
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 15px;
}
.history .details .sym span {
  color: hsla(220, 39%, 80%, .8);
}
.history .details .sym .active-dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: white;
  display: inline-block;
  margin-left: 10px;
  transform: translateY(-.55em);
}
.history .details .balance {
  position: relative;
  font-size: 35px;
  line-height: 1em;
  display: flex;
  align-items: flex-start;
  font-weight: 200;
}
.history .details .balance small {
  font-size: .5em;
  line-height: 1em;
  margin-top: 3px;
  align-self: flex-start;
  letter-spacing: 1px;
  margin-left: 2px;
  font-weight: 400;
}
.history .details .percent {
  margin-left: 15px;
  font-size: 15px;
  height: 25px;
  align-self: flex-end;
}
.history .details .metrics {
  margin-bottom: -20px;
}
.history .details .metrics.active {
  margin-bottom: 0;
  margin-top: 20px;
  background: rgba(0,0,30,.1);
  border: 2px solid white;
  border: none;
  border-radius: 10px;
  padding: 20px;
  padding-top: 17px;
  padding-bottom: 0;
}
.history .details .metric {
  display: inline-block;
  padding-right: 10px;
  width: 30%;
  margin-bottom: 20px;
}
.history .details .metrics.active .metric {
  width: 25%;
}
.history .details .metrics.active .metric.double {
  width: 50%;
  padding-right: 0;
}
.history .details .metrics:not(.active) .metric:nth-of-type(3n) {
  padding-right: 0;
  width: 40%;
}
.history .details .metrics.active .mute {
  display: inline-block;
  margin: 0 2px;
  opacity: .5;
}
.history .details .metric .header {
  font-size: 12px;
  color: hsla(220, 39%, 80%, .8);
}
.history .details .year .toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  margin: -20px -10px;
  padding: 20px 10px;
  border-radius: 10px;
  min-height: 65px;
  font-size: 20px;
  user-select: none;
}
.history .details .year h1 {
  font-size: 25px;
  margin: 0;
  font-weight: 400;
}
.history .details .year .toggle > div > :first-child {
  display: inline-block;
  font-weight: 200
}
.history .details .year .toggle:not(.disabled):hover {
  cursor: pointer;
  background: rgba(0,0,30,.1);
}
.history .details .year .toggle.disabled {
  color: hsla(220, 39%, 80%, .8);
}
.history .details .year .extended {
  margin-top: 40px;
  margin-bottom: 20px;
}
.history .details .year .extended .trades {
  margin-top: 40px;
}
.history .details .year .extended .trade {
  background: rgba(0,0,30,.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  padding-right: 8px;
  margin: 5px -5px;
  border-radius: 10px;
}
.history .details .year .extended .trade > :first-child {
  font-size: 13px;
  color: hsla(220, 39%, 80%, .8);
}
.history .details .year .extended .trade > :last-child > :first-child {
  display: inline-block;
  transform: translateY(-1px);
}
.history .details .year .extended .trade .percent-tag {
  border-radius: 6px;
  font-size: 12px;
  padding: 0px 5px;
  height: 20px;
}
.history .details .year .extended .trade .percent-tag svg {
  width: 10px;
  margin-right: 5px;
}



.history .stock-opts li {
  display: inline-block;
  user-select: none;
}
.history .stock-opts li .active-dot {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;
  background: white;
  transform: translateY(-.44em);
}
.history .details > .stock-opts {
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px 20px;
  position: relative;
  background: rgba(0,0,30,.2);
  box-shadow: 0 0 16px rgba(0,0,0,0.12), 0 0 16px rgba(0,0,0,0.18);
}
.history .details > .stock-opts li:first-child {
  margin-left: -10px;
}
.history .details > .stock-opts li:last-child {
  margin-right: -10px;
}
.history .empty-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.history .empty-details .message {
  text-align: center;
}
.history .empty-details .stock-opts {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}